<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Find your breed</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/static/css/base.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% block head %}
    {% endblock %}
  </head>
  <body id="bodyBase">
    <div class="navList">
      <div id="navImage">
        <img id="logo" class="fitImage" src="/media/static/logo.png">
      </div>
      <div class="menu">
        <a><i id="menu-icon" class="material-icons">face</i>{{user.username}}</a>
        <button class="menubtn"><i id="menu-icon" class="material-icons">menu</i></button>
        <div class="menu-content">
          <a class="link" href="{% url 'doggofindr:home' %}">Home</a>
          <a class="link" href="{% url 'doggofindr:myPage' %}">My Page</a></br>
          <a class="link" href="{% url 'doggofindr:about' %}">About</a>
          <a  style="float:left;" class="link" href="{% url 'login' %}">Log In</a>
          <a  style="float:left;" class="link" href="{% url 'logout' %}">Log Out</a>
          <a style="float:left;"class="link" href="{% url 'doggofindr:signup' %}">Sign Up</a>
        </div>
      </div>
    </div>

    <div id="content">
      {% block content %}
      {% endblock %}
    </div>

  </body>
</html>
